{% extends "base.html.twig" %}
{#{% block body %}#}
    {#<nav>#}
    {#<div class="nav-wrapper">#}
    {#<a href="" class="brand-logo">Logo</a>#}
    {#<ul id="nav-mobile" class="right hide-on-med-and-down">#}
    {#<li><a href="">sass</a></li>#}
    {#<li><a href="">sass <span class="new badge">4</span></a></li>#}
    {#<li><a href="">sass</a></li>#}
    {#</ul>#}
    {#</div>#}
    {#</nav>#}
{#{% endblock %}#}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/SafetyView/stylesheet.css') }}">
{% endblock %}
{% block body %}

    <nav class="navbar navbar-default" id="nav">
        <div class="container-fluid" id="div-div">
            <div class="navbar-header">
                <span class="glyphicon glyphicon-object-align-left" id="icon"></span>
            </div>
            <div id="div-a">
                <a href="#">
                    <span>Registrar Usuario</span>
                </a>
                <a href="#">
                    <span>Actualizar Usuario</span>
                </a>
                <a href="#">
                    <span>Eliminar Usuario</span>
                </a>
            </div>
        </div>
    </nav>

    {# Cuerpo register.html.twig #}
    <div id="div-ol">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a class="active">Register</a></li>
        </ol>
    </div>
    {% for flashMessage in app.session.flashBag.get("registerAction") %}
        {{ flashMessage }}
    {% endfor %}
    <div class="container">
        <div class="panel panel-primary row">
            <div class="panel-heading"><h3 class="panel-title">Registrar Usuario</h3></div>
            <div class="panel-body col-lg-12">
                {{ form_start(form, {"attr":{"novalidate":"novalidate"}}) }}
                <div class="input-group">
                    <span class="input-group-addon" id="span">Identificación Usuario</span>
                    {{ form_widget(form.nuip,{"attr":{"class":"form-control", "placeholder":"Ingrese su Identificación"}}) }}
                </div>
                <div>
                    <span class="text-danger"> {{ form_errors(form.nuip) }} </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="span">Nombre(s) Usuario</span>
                    {{ form_widget(form.name,{"attr":{"class":"form-control", "placeholder":"Ingrese su Nombre(s)"}}) }}
                </div>
                <div>
                    <span class="text-danger"> {{ form_errors(form.name) }} </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="span">Apellido(s) Usuario</span>
                    {{ form_widget(form.lastname,{"attr":{"class":"form-control", "placeholder":"Ingrese su Apellido(s)"}}) }}
                </div>
                <div>
                    <span class="text-danger"> {{ form_errors(form.lastname) }} </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="span">Telefono Usuario</span>
                    {{ form_widget(form.tel,{"attr":{"class":"form-control", "placeholder":"Ingrese su Telefono"}}) }}
                </div>
                <div>
                    <span class="text-danger"> {{ form_errors(form.tel) }} </span>
                </div>
                <div id="div-form">
                    <div class="col-md-2 col-md-offset-5">
                        {{ form_widget(form.Registrar) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

